body, html {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #273244;
    /*background-color: #1B2431;*/
    color: white;
}

.container {
    display: grid;
    flex: 1;
    grid-template-columns: 175px auto;
    grid-template-rows: 75px auto;
    grid-template-areas:
        "header header"
        "sidebar content";
}

nav {
    grid-area: sidebar;
    display: flex;
}

.nav {
    margin: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul,
nav ol {
    padding-left: 10px;
}

nav li {
    padding: 3px 0px;
    list-style: none;
}

nav li + li {
    padding-top: 5px;
}

nav li span.currentPage {
    font-weight: bold;
}

nav ul ul,
nav ul ol,
nav ol ul,
nav ol ol {
    background-color: #1B2431
}

.content {
    grid-area: content;
    display: flex;
    background-color: #1B2431;
    padding: 10px;
    border-radius: 8px 0 0 0;
}




.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
